<!-- <div
  class="mdl-grid mdl-cell mdl-cell--9-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top">
  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <base-card>
      <base-card-title>
        <h2 class="mdl-card__title-text">My Day</h2>
      </base-card-title>
      <base-card-body>
        <app-pie-chart></app-pie-chart>
      </base-card-body>
    </base-card>
  </div>
  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <app-weather></app-weather>
  </div>
  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <app-trending></app-trending>
  </div>
  <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--5-col-tablet mdl-cell--2-col-phone">
    <app-cotoneaster-card></app-cotoneaster-card>
  </div>
  <div class="mdl-cell mdl-cell--7-col-desktop mdl-cell--7-col-tablet mdl-cell--4-col-phone">
    <base-card>
      <base-card-title>
        <h2 class="mdl-card__title-text">Startup Financing Cycle</h2>
      </base-card-title>
      <base-card-body>
        <app-line-chart></app-line-chart>
      </base-card-body>
    </base-card>
  </div>
  <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone ">
    <app-table-card></app-table-card>
  </div>
</div>
<div
  class="mdl-grid mdl-cell mdl-cell--3-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top">
  <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone">
    <app-robot-card></app-robot-card>
  </div>
  <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone">
    <app-todo-list></app-todo-list>
  </div>
</div> -->
<div>
  <button style="
  position:absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 120px;
  height: 100px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  background-color: transparent;
  background-color: rgb(147 132 180 / 53%);
  border-radius: 5px;
  border: 0;
  box-shadow: inset 0 0 0 2px rgb(255 255 255 / 13%);
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  height: 3.75em;
  letter-spacing: 0.1em;
  line-height: 3.75em;
  /* padding: 0 2.25em; */
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;"
  class="startwatch">Watch now</button>
</div>